## Introduction

Once data is stored as a dataframe, there are many nuts-and-bolts operations to add new columns, drop columns, resample data, aggregate data, join multiple tables, concatenate rows, and the like.  

We use the [pandas](https://pandas.pydata.org/) framework for handling data, chiefly because it has a lot of built-in functions for handling data like ours, which is to say time-indexed multivariate data.

## Working with indices

One of the main advantages of using a framework like pandas is the ability to index the data, which essentially formalizes your intuition that data is organized as a timeseries with some number of columns.  With that index on time, you can join this table with other tables indexed on time, _even if they have different timestamps_.  Pandas has useful functions to resample to a consistent time interval (for example to go from 3-hourly to 1-hourly or 1-hourly to daily), and along with this come rules for what to do during that resampling or aggregating.  

A few applications we'll look at here are

* Setting the index to local time using the time offset from `location`.  You may use this when comparing Mark data to some local data source.

* Calculating daily maximum, minimum, average, and other such metrics from hourly data.

* Joining hourly data (such as reference evapotranspiration or ET) with daily data (such as a crop coefficient) to calculate crop ET.  

First things first let's import the modules we need and download a data frame:

In [10]:
import pandas as pd
from datetime import date, datetime, timedelta
from io import StringIO
from arable.client import ArableClient
import os
import requests

In [5]:
arable_email = os.getenv('ARABLE_EMAIL')
arable_passwd = os.getenv('ARABLE_PASSWD')
arable_tenant = os.getenv('ARABLE_TENANT')

a = ArableClient()
a.connect(arable_email, arable_passwd, arable_tenant)

device = 'A000176' 

sta = "2018-07-04 08:00:00"
end = "2018-07-07 08:00:00"

hourly = a.query(select='all', 
             format='csv', 
             devices=[device], 
             measure='hourly', 
             order='time', 
             end=end, start=sta) 

hourly = StringIO(hourly)
hourly = pd.read_csv(hourly, sep=',', error_bad_lines=False)

Next order of business is to set the `time` column as datetime object as python understands them.

In [7]:
hourly['time'] = pd.to_datetime(hourly['time'])
hourly.index = hourly['time']

If we look at this dataframe we now see that it is indexed.  If we do anything to this dataframe, like create a new column (perhaps as a calculation from existing columns) it will preserve the integrity of the timeseries.

In [8]:
hourly

,time,device,location,lat,long,B1dw,B1uw,B2dw,B2uw,B3dw,...,PARuw,RH,SWdw,SWuw,Tabove,Tair,Tbelow,Tdew,prate,precip
time,,,,,,,,,,,,,,,,,,,,,
2018-07-04 08:00:00,2018-07-04 08:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.051308,0.067110,0.038234,0.045859,0.061278,...,-3.57414,94.788760,1.26640,-3.99047,11.58240,20.7853,20.0060,19.8947,NaN,NaN
2018-07-04 09:00:00,2018-07-04 09:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.056608,0.066005,0.040373,0.047362,0.062360,...,-3.56883,89.374411,1.27809,-3.98454,12.64880,22.3720,21.3450,20.5205,NaN,NaN
2018-07-04 10:00:00,2018-07-04 10:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.054730,0.067325,0.039561,0.046097,0.061172,...,-3.44494,97.148591,1.28095,-3.84622,11.82400,20.9027,20.4938,20.4081,NaN,NaN
2018-07-04 11:00:00,2018-07-04 11:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.162753,0.064567,0.266783,0.047117,0.278131,...,-3.60956,100.000000,7.14933,-4.03001,11.22020,19.6604,19.4976,19.6467,NaN,NaN
2018-07-04 12:00:00,2018-07-04 12:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,1.162560,0.060473,1.951420,0.129333,1.984490,...,-8.38327,100.000000,52.58780,-9.35980,11.56200,20.2664,20.3475,20.2527,NaN,NaN
2018-07-04 13:00:00,2018-07-04 13:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,3.444750,0.053626,6.544960,0.432657,6.840740,...,-26.12080,97.132850,181.73800,-29.16350,12.94210,22.2324,22.6574,21.7390,NaN,NaN
2018-07-04 14:00:00,2018-07-04 14:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,6.038870,0.053297,12.292000,0.621580,13.042900,...,-36.00820,91.699177,336.70000,-40.20260,14.55970,24.4235,25.6542,22.9652,NaN,NaN
2018-07-04 15:00:00,2018-07-04 15:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,9.013480,0.061583,18.391800,0.793171,19.423400,...,-46.25820,84.239173,492.95300,-51.64650,14.13640,25.1399,26.9049,22.2687,NaN,NaN
2018-07-04 16:00:00,2018-07-04 16:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,12.566300,0.072604,25.303800,1.003910,26.226900,...,-59.19120,74.012285,667.21200,-66.08600,15.26440,28.1742,30.3608,23.0552,NaN,NaN
2018-07-04 17:00:00,2018-07-04 17:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,15.879200,0.083622,31.448500,1.195430,31.933700,...,-69.99140,65.139753,815.87200,-78.14430,14.28020,31.9694,33.4127,24.5500,NaN,NaN
2018-07-04 18:00:00,2018-07-04 18:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,16.978900,0.093344,33.705000,1.296740,34.054000,...,-76.34400,69.811565,870.72600,-85.23700,11.34560,30.4181,32.6176,24.2580,NaN,NaN
2018-07-04 19:00:00,2018-07-04 19:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,16.248300,0.093896,32.303400,1.222440,32.482000,...,-71.64190,70.386672,832.23600,-79.98710,11.28140,30.6014,32.7804,24.5725,NaN,NaN
2018-07-04 20:00:00,2018-07-04 20:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,13.593300,0.094002,27.232500,1.021830,27.461300,...,-58.89370,71.195751,701.18400,-65.75400,13.59860,30.7806,31.9823,24.9387,NaN,NaN
2018-07-04 21:00:00,2018-07-04 21:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,10.216700,0.093780,20.308700,0.802436,20.471600,...,-45.59150,70.397347,521.54500,-50.90230,13.36690,30.9625,31.6070,24.9194,NaN,NaN
2018-07-04 22:00:00,2018-07-04 22:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,8.879900,0.070841,19.275500,0.772880,19.743900,...,-43.95930,71.977967,502.20100,-49.07990,13.93410,31.8585,31.5217,26.1576,NaN,NaN
2018-07-04 23:00:00,2018-07-04 23:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,5.859090,0.070746,12.827100,0.595938,13.282500,...,-33.93100,71.279842,334.77900,-37.88340,14.51190,32.1057,31.2374,26.2296,NaN,NaN
2018-07-05 00:00:00,2018-07-05 00:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,2.890400,0.072499,5.983960,0.335433,6.265700,...,-19.54520,74.283648,156.07500,-21.82200,15.21400,31.4386,29.9896,26.2750,NaN,NaN
2018-07-05 01:00:00,2018-07-05 01:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.928544,0.070615,1.626740,0.103289,1.696790,...,-6.34646,82.882077,42.11660,-7.08573,15.78000,28.5454,27.1453,25.3263,NaN,NaN
2018-07-05 02:00:00,2018-07-05 02:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.076586,0.071062,0.124853,0.049254,0.153004,...,-3.63930,88.991767,3.73246,-4.06322,15.07930,25.7855,25.1279,23.8045,NaN,NaN
2018-07-05 03:00:00,2018-07-05 03:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.054069,0.066116,0.040299,0.046176,0.061280,...,-3.51551,99.204856,1.29260,-3.92502,12.34750,21.9145,21.5904,21.7667,0.609328,0.609327
2018-07-05 04:00:00,2018-07-05 04:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.051529,0.065563,0.039119,0.044596,0.059015,...,-3.61009,100.000000,1.26351,-4.03061,11.83290,20.4634,20.3400,20.4497,0.031665,0.031665
2018-07-05 05:00:00,2018-07-05 05:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.052001,0.065980,0.040268,0.046757,0.059563,...,-3.52671,100.000000,1.19735,-3.93752,11.34940,20.2987,20.0912,20.2850,NaN,NaN
2018-07-05 06:00:00,2018-07-05 06:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.051089,0.063903,0.038528,0.046017,0.060201,...,-3.45684,100.000000,1.27806,-3.85950,11.04300,19.9167,19.7295,19.9030,NaN,NaN
2018-07-05 07:00:00,2018-07-05 07:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.053736,0.065674,0.037275,0.045781,0.061603,...,-3.38597,100.000000,1.31299,-3.78038,10.84570,19.4850,19.3761,19.4714,NaN,NaN
2018-07-05 08:00:00,2018-07-05 08:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.054069,0.065009,0.038086,0.045069,0.059227,...,-3.46268,100.000000,1.34794,-3.86603,10.92930,19.0504,19.0485,19.0368,NaN,NaN
2018-07-05 09:00:00,2018-07-05 09:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.051860,0.064566,0.035728,0.044830,0.059661,...,-3.42731,100.000000,1.28972,-3.82654,11.20230,18.8563,18.9711,18.8426,NaN,NaN
2018-07-05 10:00:00,2018-07-05 10:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.053626,0.065230,0.037570,0.044990,0.061711,...,-3.43910,100.000000,1.29552,-3.83970,11.10640,18.8494,18.9006,18.8357,NaN,NaN
2018-07-05 11:00:00,2018-07-05 11:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.120937,0.062689,0.177527,0.045702,0.191554,...,-3.44505,100.000000,4.92313,-3.84634,11.29140,18.8439,18.9363,18.8302,NaN,NaN
2018-07-05 12:00:00,2018-07-05 12:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.974438,0.063683,1.731670,0.102589,1.803090,...,-6.64655,99.807864,47.99230,-7.42077,11.89150,20.0242,20.0757,19.9791,NaN,NaN
2018-07-05 13:00:00,2018-07-05 13:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,1.019760,0.065452,1.793520,0.097457,1.880650,...,-6.16320,99.874192,48.56650,-6.88111,12.56330,20.2413,20.4239,20.2071,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-06 02:00:00,2018-07-06 02:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.111116,0.066989,0.128031,0.048065,0.142678,...,-3.54525,97.046399,3.25791,-3.95822,10.90540,21.4490,20.8925,20.9333,NaN,NaN
2018-07-06 03:00:00,2018-07-06 03:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.053686,0.064412,0.037931,0.045119,0.062742,...,-3.44338,100.000000,1.22593,-3.84448,10.31570,19.1748,18.9111,19.1611,NaN,NaN
2018-07-06 04:00:00,2018-07-06 04:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.050537,0.065231,0.038086,0.045069,0.061818,...,-3.39784,100.000000,1.29844,-3.79363,10.66010,20.0436,19.5301,20.0299,NaN,NaN
2018-07-06 05:00:00,2018-07-06 05:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.055504,0.065232,0.037275,0.044435,0.059013,...,-3.33878,100.000000,1.29263,-3.72771,10.49850,19.4806,19.1237,19.4669,NaN,NaN
2018-07-06 06:00:00,2018-07-06 06:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.050757,0.065120,0.035065,0.045385,0.060848,...,-3.40363,100.000000,1.28390,-3.80009,9.96104,18.4663,18.2512,18.4526,NaN,NaN
2018-07-06 07:00:00,2018-07-06 07:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.050646,0.063904,0.034769,0.043487,0.056854,...,-3.30929,100.000000,1.21984,-3.69477,9.03869,16.4897,16.6186,16.4756,NaN,NaN
2018-07-06 08:00:00,2018-07-06 08:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.048550,0.063682,0.034400,0.040719,0.055777,...,-3.16182,100.000000,1.14704,-3.53012,8.02172,14.9486,15.3350,14.9339,NaN,NaN
2018-07-06 09:00:00,2018-07-06 09:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.049433,0.062467,0.031896,0.038825,0.055561,...,-3.15590,100.000000,1.12957,-3.52351,7.46873,14.2425,14.7208,14.2274,NaN,NaN
2018-07-06 10:00:00,2018-07-06 10:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.048879,0.059592,0.036244,0.042142,0.058150,...,-3.30926,100.000000,1.16161,-3.69474,9.61407,16.5031,16.6386,16.4888,NaN,NaN
2018-07-06 11:00:00,2018-07-06 11:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.172907,0.066778,0.214720,0.046884,0.213296,...,-3.58062,100.000000,5.56071,-3.99771,11.56070,19.3008,19.2363,19.2871,NaN,NaN
2018-07-06 12:00:00,2018-07-06 12:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,1.068900,0.064788,1.631900,0.095963,1.642010,...,-6.15195,100.000000,43.99540,-6.86856,11.93770,19.8707,19.8462,19.8570,NaN,NaN
2018-07-06 13:00:00,2018-07-06 13:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,2.577900,0.060371,4.738730,0.287224,4.885110,...,-17.23780,100.000000,132.29600,-19.24580,12.66330,20.7639,21.3293,20.7502,NaN,NaN
2018-07-06 14:00:00,2018-07-06 14:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,4.998660,0.061916,9.787760,0.512746,9.981230,...,-30.44090,100.000000,266.68900,-33.98680,14.57020,21.5700,23.3381,21.5562,NaN,NaN
2018-07-06 15:00:00,2018-07-06 15:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,6.286040,0.064785,12.188400,0.578498,12.701800,...,-33.75570,97.281110,324.39100,-37.68780,14.57720,22.3742,24.6263,21.9045,NaN,NaN
2018-07-06 16:00:00,2018-07-06 16:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,7.344760,0.060478,14.335900,0.645473,15.059300,...,-37.49560,94.688791,377.15500,-41.86320,15.05860,23.0322,25.4079,22.1183,NaN,NaN
2018-07-06 17:00:00,2018-07-06 17:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-07-06 18:00:00,2018-07-06 18:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,12.718000,0.086052,24.453400,0.940773,24.929300,...,-54.22380,86.177802,631.53100,-60.54000,11.78960,24.2775,28.7705,21.8040,NaN,NaN
2018-07-06 19:00:00,2018-07-06 19:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,15.153500,0.072052,30.140700,1.093550,30.697300,...,-62.72780,84.333110,778.85300,-70.03470,13.17680,24.8876,28.7327,22.0448,NaN,NaN
2018-07-06 20:00:00,2018-07-06 20:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,14.457000,0.075923,28.992500,1.005740,29.326300,...,-56.75460,80.089265,746.84200,-63.36560,12.27190,26.2543,29.4187,22.5297,NaN,NaN
2018-07-06 21:00:00,2018-07-06 21:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,12.967100,0.065993,26.529200,0.906009,26.830100,...,-50.37630,78.986692,683.24400,-56.24430,11.86520,26.4390,29.1017,22.4818,NaN,NaN
2018-07-06 22:00:00,2018-07-06 22:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,10.405500,0.062793,21.990600,0.813893,22.402300,...,-45.61300,78.099966,566.88500,-50.92620,12.49070,26.9686,28.9739,22.8091,NaN,NaN
2018-07-06 23:00:00,2018-07-06 23:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,6.662510,0.061583,14.488900,0.621579,15.007900,...,-34.98640,77.731150,375.13700,-39.06170,13.17450,27.2369,28.3376,22.9920,NaN,NaN
2018-07-07 00:00:00,2018-07-07 00:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,3.348580,0.063683,7.222480,0.398378,7.630310,...,-22.90700,78.130484,186.52400,-25.57530,13.45810,27.1003,27.1325,22.9441,NaN,NaN
2018-07-07 01:00:00,2018-07-07 01:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,1.146160,0.068652,2.116960,0.156476,2.230230,...,-9.38426,83.139807,53.21710,-10.47740,13.29170,26.1329,25.4050,23.0206,NaN,NaN
2018-07-07 02:00:00,2018-07-07 02:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.126754,0.066709,0.157822,0.047534,0.169730,...,-3.65535,90.704638,4.03684,-4.08114,12.51550,24.1140,23.0953,22.4824,NaN,NaN
2018-07-07 03:00:00,2018-07-07 03:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.054843,0.067110,0.039564,0.046254,0.061388,...,-3.59182,94.898665,1.24894,-4.01021,12.06520,23.0316,22.0886,22.1528,NaN,NaN
2018-07-07 04:00:00,2018-07-07 04:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.053296,0.066558,0.038751,0.047046,0.060846,...,-3.51578,100.000000,1.37120,-3.92531,11.86540,22.6490,21.8303,22.6352,NaN,NaN
2018-07-07 05:00:00,2018-07-07 05:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.055065,0.064569,0.040079,0.045939,0.063005,...,-3.48036,100.000000,1.25478,-3.88577,11.60170,21.9823,21.2668,21.9685,NaN,NaN
2018-07-07 06:00:00,2018-07-07 06:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.054509,0.066889,0.038528,0.047519,0.063007,...,-3.43915,99.386507,1.29552,-3.83976,11.78090,22.0796,21.2656,21.9645,NaN,NaN
2018-07-07 07:00:00,2018-07-07 07:00:00,A000176,5b043a2f17edbb00015afa42,41.0876,-100.774,0.055281,0.065453,0.040964,0.046172,0.063977,...,-3.44499,98.929185,1.26641,-3.84628,11.96860,22.1129,21.4147,21.9224,NaN,NaN

Our time is stored as UTC, where the "U" stands for Universal.  It is a format that is easy for machines.  But humans tend to prefer local time. We saw in [example 1](https://pro-soap.cloudvent.net/ex1_Downloading.html) that it was possible to grab the local time offset from the `locations` data structure associated with the device

In [11]:
auth_token = a.header['Authorization']
location_id = a.devices(name='A000176')['location']['id']

base = 'https://api-user.arable.cloud/api/v1/'
path = '/locations/'
url = base + path + location_id

response = requests.get(url, headers = {'Authorization': auth_token})
location = response.json()

time_offset = location['time_offset']

We use `timedelta` to apply the time offset to the UTC time, adding a column using `['column_name']` syntax.  We then set it as our index.

In [12]:
hourly['local_time'] = hourly['time'] + timedelta(seconds=time_offset)
hourly.index = hourly['local_time']

Now, any aggregation or resampling (such as daily max and min) will be performed using local time instead of UTC time.

## Retaining columns

In [23]:
health = a.query(select='all', 
             format='csv', 
             devices=[device], 
             measure='health', 
             order='time', 
             end=end, start=sta) 

health = StringIO(health)
health = pd.read_csv(health, sep=',', error_bad_lines=False)
health['time'] = pd.to_datetime(health['time'])

In [24]:
health = health[['time','rssi','batt_volt']]

## Dealing with NAs

In [25]:
health = health.fillna(method='bfill')

## Resampling

In [28]:
health = health.resample('H').mean()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [ ]:
## Inner join

One of the useful features of using indexed dataframes is the ease of joining tables.  The join always happens using a unique identifier (UID) that both tables have in common.  For us, the obvious UID is the time index.  

In database world there are two basic joins: the "inner join" and the "outer join".  And within outer joins there are "left outer joins" and "right outer joins".  To explain, let's imagine two tables (A and B) with the indices shown:

```
A B
1 1
2 
3 3
  4
5 5
```

An _inner join_ returns only the rows where the index is present in both tables:

```
AB
1
3
5
```

A _left outer join_ returns all the rows where the left table has an index, and inserts blank values where the right table has nothing:

```
AB
1
2
3
5
```

Similarly for a right outer join:

```
AB
1
3
4
5
```

One common join for us is to join the `health` table to the `hourly` table:

In [22]:
health

                   time  rssi  batt_volt
0   2018-07-04 08:02:37 -67.0     4102.0
1   2018-07-04 08:07:37 -67.0     4102.0
2   2018-07-04 08:12:38 -67.0     4102.0
3   2018-07-04 08:17:39 -67.0     4102.0
4   2018-07-04 08:22:39 -67.0     4102.0
5   2018-07-04 08:27:40 -67.0     4102.0
6   2018-07-04 08:32:41 -67.0     4101.0
7   2018-07-04 08:37:41 -67.0     4101.0
8   2018-07-04 08:42:42 -67.0     4090.0
9   2018-07-04 08:47:43 -73.0     4098.0
10  2018-07-04 08:52:44 -73.0     4099.0
11  2018-07-04 08:57:44 -73.0     4099.0
12  2018-07-04 09:02:45 -73.0     4099.0
13  2018-07-04 09:07:45 -73.0     4099.0
14  2018-07-04 09:12:46 -73.0     4099.0
15  2018-07-04 09:17:47 -73.0     4099.0
16  2018-07-04 09:22:47 -73.0     4098.0
17  2018-07-04 09:27:48 -73.0     4098.0
18  2018-07-04 09:32:49 -73.0     4098.0
19  2018-07-04 09:37:49 -73.0     4098.0
20  2018-07-04 09:42:50 -73.0     4087.0
21  2018-07-04 09:47:51 -71.0     4095.0
22  2018-07-04 09:52:51 -71.0     4096.0
23  2018-07-04 09:57:52 -71.0     4096.0
24  2018-07-04 10:02:53 -71.0     4096.0
25  2018-07-04 10:07:53 -71.0     4096.0
26  2018-07-04 10:12:54 -71.0     4096.0
27  2018-07-04 10:17:55 -71.0     4096.0
28  2018-07-04 10:22:55 -71.0     4095.0
29  2018-07-04 10:27:56 -71.0     4095.0
..                  ...   ...        ...
798 2018-07-07 05:30:24 -71.0     4109.0
799 2018-07-07 05:35:25 -71.0     4109.0
800 2018-07-07 05:40:26 -71.0     4108.0
801 2018-07-07 05:45:26 -71.0     4108.0
802 2018-07-07 05:50:27 -71.0     4108.0
803 2018-07-07 05:55:28 -71.0     4094.0
804 2018-07-07 06:00:28 -71.0     4105.0
805 2018-07-07 06:05:29 -71.0     4105.0
806 2018-07-07 06:10:30 -71.0     4105.0
807 2018-07-07 06:15:30 -71.0     4105.0
808 2018-07-07 06:20:31 -71.0     4105.0
809 2018-07-07 06:25:31 -71.0     4105.0
810 2018-07-07 06:30:32 -71.0     4105.0
811 2018-07-07 06:35:32 -71.0     4105.0
812 2018-07-07 06:40:33 -71.0     4105.0
813 2018-07-07 06:45:34 -71.0     4104.0
814 2018-07-07 06:50:34 -71.0     4104.0
815 2018-07-07 06:55:34 -71.0     4090.0
816 2018-07-07 07:00:35 -73.0     4101.0
817 2018-07-07 07:05:36 -73.0     4102.0
818 2018-07-07 07:10:36 -73.0     4102.0
819 2018-07-07 07:15:37 -73.0     4102.0
820 2018-07-07 07:20:37 -73.0     4101.0
821 2018-07-07 07:25:38 -73.0     4101.0
822 2018-07-07 07:30:39 -73.0     4101.0
823 2018-07-07 07:35:39 -73.0     4101.0
824 2018-07-07 07:40:40 -73.0     4101.0
825 2018-07-07 07:45:40 -73.0     4101.0
826 2018-07-07 07:50:41 -73.0     4100.0
827 2018-07-07 07:55:42 -73.0     4080.0

[828 rows x 3 columns]

In [ ]:
health['local_time'] = health['time'] + timedelta(seconds=time_offset)
health.index = health['local_time']

In [ ]:
And now the join is accomplished with the call to `merge`.

In [ ]:
df = pd.merge(left=hourly,right=health,on='local_time')

## Filtering

```
mask = (sdf['solartime'] >= start) 
idf = sdf.loc[mask].copy()
```

## Dropping columns

## Outer join, forward fill (e.g. for a custom kc)

```
tdf = tdf.index.normalize()
tdf = tdf.merge(sdf, how='outer', sort=True)
tdf = tdf.fillna(method='ffill')
```

## Diurnal temperature range


## Groupby, resample, sum to get daily or weekly metrics
https://stackoverflow.com/questions/45281297/group-by-week-in-pandas

```
df = df.resample('30S').ffill().resample('5T').mean()
```

```
tdf = tdf.groupby(pd.Grouper(freq='D')).min()
```

## Concatenate multiple devices - weekly report